* {
    font-family: "Sawarabi Mincho";
}

html {
    background-color: #f6f6f4;
}


/* navbar */

.navigation {
    background-color: #171815;
    color: #fff;
    height: 50px;
}

.navigation h1 {
    line-height: 50px;
    font-size: 20px;
}


/* 元テキスト入力部分 */

.original-text .heading {
    background-color: #171815;
    color: #fff;
    margin-top: 30px;
    height: 30px;
}

.original-text .heading h2 {
    line-height: 30px;
    font-size: 17px;
}

.original-text .inputarea {
    border: 1px solid #171815;
    border-radius: 5px;
}

.original-text textarea {
    width: 100%;
    font-size: 20px;
}


/* テキスト表示部分 */

.display {
    margin-top: 30px;
    border: 1px solid #000;
    border-radius: 5px;
}

#showPrevTextArea {
    width: 100%;
    font-size: 20px;
}

.display textarea {
    width: 100%;
    font-size: 50px;
}

#showNextTextArea {
    width: 100%;
    font-size: 20px;
}

.showtext {
    font-size: 50px;
    border: 1px solid #000;
    height: 500px;
    border-radius: 5px;
}


/* ボタン部分 */

.button-individual {
    border: 1px solid #fff;
    background-color: #171815;
    height: 50px;
    border-radius: 5px;
    user-select: none;
    /* 選択を禁止する */
}

.button-individual:hover {
    opacity: 0.7;
    cursor: hand;
}

.button p {
    font-size: 30px;
    color: #ffffff;
    line-height: 50px;
}

.diff-original,
.diff-changed,
.diff-diff {
    height: 100px;
    border: 1px solid #000;
    overflow: scroll;
}

/* PHP差分検知部分 */
.diffCheckPhp textarea {
    width: 100%;
}
.row-eq-height {
    display: flex;
    flex-wrap: wrap;
}
/* PHP差分検知部分ここまで */

/* 文字数カウント */
.mojisuuCount {
    position: fixed;
    bottom: 30px;
    left: 30px;
    z-index: 10;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}